/* 회원가입 및 로그인 page css */

.signUp__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: -20px 0 50px;
}

/* 회원가입 제목 텍스트 */
.signUp__title {
  font-weight: bold;
  margin-bottom: 15px;
}

/* 프로필 이미지 업로드 div */
.profileFile {
  margin: 12px 0;
}

/* 프로필 이미지 업로드 텍스트 */
.profileImg__text {
  font-size: 13px;

  opacity: 0.8;
}

/* input file */
.profileFile__input {
  font-size: 13px;
}

/* 로그인 제목 텍스트 */
.signIn__title {
  font-weight: bold;
  margin-bottom: 30px;
}

/* 회원가입 또는 로그인 인사 제목*/
.greeting {
  font-weight: bold;
  margin: 0;
}

/* 회원가입 또는 로그인 인사 */
.greeting__sentence {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

/* 비밀번호 찾기 */
.forgotPs {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  opacity: 0.8;
}

/* 회원가입, 로그인 버튼 */
.signBtn {
  border-radius: 20px;
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.signBtn:active {
  transform: scale(0.95);
}

.signBtn:focus {
  outline: none;
}

/* overlay에 있는 버튼 */
.overlay__panel button {
  background-color: transparent;
  border-color: #ffffff;
}

.form__sign {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.sign__input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form__container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

/* 로그인 전체 div */
.signIn__container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .signIn__container {
  transform: translateX(100%);
}

/* 회원가입 전체 div */
.signUp__container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .signUp__container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

/* checkbox */
.chk {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  /* align-items: center; */
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

/* checkbox 가로로 중앙 정렬 */
.chk label {
  display: flex;
  align-items: center;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* 회원 가입 겉 표지 */
.overlay__container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay__container {
  transform: translateX(-100%);
}

.overlay {
  background: #ffbb00;
  background: -webkit-linear-gradient(to right, var(--yellow), #ffbb00);
  background: linear-gradient(to right, var(--yellow), #ffbb00);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* 움직이는 겉 표지 (노란색) */
.overlay__panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay__left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay__left {
  transform: translateX(0);
}

/* 오른쪽 */
.overlay__right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay__right {
  transform: translateX(20%);
}

/* 프로필 업로드 */
