/* 이름 및 지갑 주소가 담긴 border */
.accountNft {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

/* 이름 */
.accountNft__name {
  font-size: 35px;
  margin-right: 20px;
}

/* 지갑 주소 */
.accountNft__address {
  font-size: 23px;
}

/* 소유한 또는 발행한 NFT 보여주는 title  */
.account__nftList {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}

/* 소유한 또는 발행한 NFT title 텍스트 */
.account__nftListTitle {
  font-size: 27px;
}

/* 소유한 또는 발행한 NFT cards의 전체 border */
.account__nftCardsList {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 10px;
}

/* NFT가 들어갈 4개의 틀 (세로줄) */
.account__ownedNftList {
  display: flex;
  justify-content: space-around;
  height: 380px;
}

/* NFT 이미지 각각의 틀 */
.account__ownedNftRow {
  width: 20%;
  margin: 30px;
  margin-bottom: 100px;
}

/* NFT 이미지 */
.account__ownedNft {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* NFT info */
.account__top {
  display: flex;
  align-items: center;
  padding: 20px;
}

/* NFT 이름, number*/
.account__title {
  width: 80%;
  height: 80%;
}

/* NFT 이름 */
.account__nftTitle {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.7;
}

/* NFT number */
.account__number {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}

.account__artist {
  font-size: 15px;
  margin-top: 5px;
  color: #a5a2a2;
}

/* NFT 가격 div */
.account__price {
  display: flex;
  font-size: 25px;
}

/* 이더 아이콘 */
.account__price i {
  margin-right: 7px;
  color: #fd6588;
}
