.__create__container {
    margin: auto;
    height: 1100px;
    box-sizing: border-box;
    background: #f5f5f5;
    box-shadow: 5px 5px 7px 5px;
    margin-bottom: 300px;
}

.second-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-container {
    padding: 20px;
}

/*make new nft*/
.main-container {
    width: 500px;
    height: 350px;
    padding: 20px;
}

.text {
    margin-bottom: 20px;
}

.colorBtn {
    background-color: var(--pink);
    border: 1;
    border-radius: 20px;
    transition: transform 300ms ease;
}
.colorBtn:hover {
    transform: scale(1.1);
}

/*show image-box*/
.view-content {
    border: 4px solid blue;
    width: 300px;
    height: 300px;
}

.main-info {
    padding: 20px;
    padding-top: 120px;
}

.test-text {
    resize: none;
    position: absolute;
    width: 500px;
    height: 100px;
}

.test-text-2 {
    width: 800px;
    height: 120px;
    background-color: rgb(230, 248, 255);
}

.box-color-1 {
    color: gray;
    /* padding: 30px; */
    text-align: left;
    width: 800px;
    height: 100px;
    line-height: 25px;
}
.box-color-2 {
    color: gray;
    /* padding: 10px; */
    text-align: left;
    width: 800px;
    height: 100px;
    line-height: 25px;
}

/* NFT 버튼 div*/
.artInfo__btn {
    text-align: center;
    margin: 10px;
}

/* NFT 버튼 */
.nftText__btn {
    padding: 10px 15px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border-color: wheat;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
    background-color: var(--pink);
    border-bottom: 7px solid #ff709c;
}
