/* main page CSS */

/* main screen text & button */
.main__title {
  width: auto;
  text-align: center;
  height: inherit;
}

/* main title */
.main__title h1 {
  font-size: 80px;
  padding-top: 155px;
  margin-bottom: 10px;
}

.main__title h2 {
  font-size: 30px;
  margin-bottom: 90px;
}

.main__title h3 {
  font-size: 17px;
  color: var(--navy);
  opacity: 0.7;
  margin-top: 7px;
  padding-bottom: 100px;
}

/* donate 버튼 */
.main__donateBtn {
  background: var(--navy);
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 5px;
  z-index: 9999;

  /* margin-top: 165px; */
}

/* donate 버튼 입체 */
.main__donateBtn:hover {
  background: #fff;
  color: var(--navy);
}

/* donate 버튼 효과 */
.main__donateBtn:before,
.main__donateBtn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--navy);
  transition: 400ms ease all;
}

/* donate 버튼 효과 */
.main__donateBtn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

/* donate 버튼 효과 */
.main__donateBtn:hover:before,
.main__donateBtn:hover:after {
  width: 100%;
  transition: 800ms ease all; /* main page CSS */

  /* main screen text & button */
  .main__title {
    width: auto;
    text-align: center;
    height: inherit;
  }

  /* main title */
  .main__title h1 {
    font-size: 80px;
    padding-top: 155px;
    margin-bottom: 10px;
  }

  .main__title h2 {
    font-size: 30px;
    margin-bottom: 90px;
  }

  .main__title h3 {
    font-size: 17px;
    color: var(--navy);
    opacity: 0.7;
    margin-top: 7px;
    padding-bottom: 100px;
  }

  /* donate 버튼 */
  .main__donateBtn {
    background: var(--navy);
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 5px;
    z-index: 9999;

    /* margin-top: 165px; */
  }

  /* donate 버튼 입체 */
  .main__donateBtn:hover {
    background: #fff;
    color: var(--navy);
  }

  /* donate 버튼 효과 */
  .main__donateBtn:before,
  .main__donateBtn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--navy);
    transition: 400ms ease all;
  }

  /* donate 버튼 효과 */
  .main__donateBtn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  /* donate 버튼 효과 */
  .main__donateBtn:hover:before,
  .main__donateBtn:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

  /* image drop */
  .home {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .drawingStuff {
    position: absolute;
    z-index: -9999;
    /* font-size: 10px; */
  }

  .drawingStuff img {
    width: 120px;
    height: 120px;
  }
}

/* image drop */
.home {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.drawingStuff {
  position: absolute;
  z-index: -9999;
  /* font-size: 10px; */
}

.drawingStuff img {
  width: 120px;
  height: 120px;
}

/* image drop */
.home {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.drawingStuff {
  position: absolute;
  z-index: -9999;
  /* font-size: 10px; */
}

.drawingStuff img {
  width: 120px;
  height: 120px;
}
