install xampp
install node.js

npm install

otherwise

pwd
ls
node -v
npm init -y
npm i nodemon --save
npm i express mysql dotenv multer ejs bcryptjs --save
npm i cookie-parser jsonwebtoken --save 
npm start
