<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="img/DONATE.ico" />
    <link rel="stylesheet" href="css/styles1.css" />
    <title>NFT List</title>
  </head>
  <body class="home" onload="getArtList();">
    <!-- 상단 nav bar -->
    <header class="nav">
      <!-- 서비스명 및 로고  -->
      <!-- 서비스명과 로고 클릭 시 메인 페이지로 이동 -->
      <a class="nav__link" href="/">
        <img src="../img/DONATE.ico" />
        <span>AmaDo</span>
      </a>
      <!-- nav bar 메뉴들 -->
      <ul class="nav__menu">
        <!-- nav bar "HOME" 메뉴 버튼 -->
        <!-- "Home" 클릭 시 메인 페이지로 이동 -->
        <li class="nav__item">
          <a class="nav__link" href="/">Home</a>
        </li>
        <!-- 모든 NFT 리스트 -->
        <li class="nav__item">
          <a class="nav__link" href="/donateNft">All NFTs</a>
        </li>
        <!-- nav bar "Gallery" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link" href="/gallery">Gallery</a>
        </li>
        <!-- nav bar "Create NFT" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link" href="/createNft">Create NFT</a>
        </li>
        <!-- nav bar "Log in" 메뉴 버튼 -->
        <!-- Log in 클릭 시  메타마스크 연결-->
        <li class="nav__item">
          <a class="nav__link" href="/signUp">Log in</a>
        </li>
      </ul>
    </header>
    <!-- header nav, footer 제외한 메인 부분 -->
    <main>
      <!-- Go Back 버튼 -->
      <div>
        <button onClick="history.go(-1)" class="backButton">
          <i class="fas fa-paint-brush fa-lg"><span>Go Back</span></i>
        </button>
      </div>
      <!-- 이미지 클릭시 ETH 결제창 이동 -->
      <div class="donatePlatform" onclick="donatePlatform()">
        <div class="donatePlatform__container">
          <div class="donatePlatform__title">
            <span class="donatePlatform__icon"
              ><i class="fas fa-palette"></i
            ></span>
            <h1>Donate</h1>
          </div>
          <div class="donatePlatform__body">
            <span>누구나 쉽고 간편하게 플랫폼에 기부가 가능합니다.</span>
            <p>기부를 원하시면 여기를 클릭해주세요.</p>
          </div>
        </div>
      </div>
      <!-- 작품 리스트 전체 크기 -->
      <div class="nftList__container">
        <!-- NFT 작품 리스트 타이틀 -->
        <div class="nftList__row">
          <div class="nftList__title">NFT 작품 리스트</div>
        </div>

        <!-- NFT Cards grid 적용 -->
        <div class="grid">
          <!-- javascript document -->
          <!-- javascript document -->
          <!-- javascript document -->
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="footer__div">
        <div class="footer__menu">
          <!-- 플랫폼 로고 이미지 -->
          <ul class="footer__brandLogo">
            <li class="footer__li">
              <span>AmaDo</span>
            </li>
          </ul>
          <!-- 플랫폼 대표 전화, 주소, 이메일 입력 -->
          <ul class="footer__info">
            <li class="footer__li">상담센터 <span>070-123-4567</span></li>
            <li class="footer__li">대표전화 <span>02-123-4567</span></li>
            <li class="footer__li">
              주소
              <span>서울특별시 영등포구 양산로 53 월드메르디앙 비즈센터</span>
            </li>
            <li class="footer__li">Email <span>ssjd6111@amado.com</span></li>
          </ul>
          <!-- sns 로고 -->
          <ul class="footer__sns">
            <li class="footer__li">
              <span><i class="fab fa-twitter fa-2x"></i> </span
              ><span><i class="fab fa-instagram fa-2x"></i></span>
              <span><i class="fab fa-facebook-square fa-2x"></i></span>
              <span><i class="fab fa-youtube fa-2x"></i></span>
            </li>
          </ul>
        </div>
        <!-- 플랫폼 copyrights 텍스트 -->

        <div class="footer__copy">
          <div class="footer__copyrights">@ AmaDo. All Rights Reserved.</div>
        </div>
      </div>
    </footer>
    <!-- import scripts  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/giver/donateNft.js"></script>
  </body>
</html>
