<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="img/DONATE.ico" />
        <link rel="stylesheet" href="css/styles1.css" />
        <title>NFT Details</title>
    </head>
    <body onload="getArt();">
        <!-- 상단 nav bar-->
        <header class="nav">
            <!-- 서비스명 및 로고  -->
            <!-- 서비스명과 로고 클릭 시 메인 페이지로 이동 -->
            <a class="nav__linkkk" href=""><h1>Service Name</h1></a>
            <!-- nav bar 메뉴들 -->
            <ul class="nav__menu">
                <!-- nav bar "HOME" 메뉴 버튼 -->
                <!-- "Home" 클릭 시 메인 페이지로 이동 -->
                <li class="nav__item">
                    <a class="nav__link" href="">Home</a>
                </li>
                <!-- 모든 NFT 리스트 -->
                <li class="nav__item">
                    <a class="nav__link" href="donateNft">All NFTs</a>
                </li>
                <!-- nav bar "Gallery" 메뉴 버튼 -->
                <li class="nav__item">
                    <a class="nav__link" href="gallery">Gallery</a>
                </li>
                <!-- nav bar "Create NFT" 메뉴 버튼 -->
                <li class="nav__item">
                    <a class="nav__link" href="creatNft">Create NFT</a>
                </li>
                <!-- nav bar "Log in" 메뉴 버튼 -->
                <!-- Log in 클릭 시  메타마스크 연결-->
                <li class="nav__item">
                    <a class="nav__link" href="signUp">Log in</a>
                </li>
            </ul>
        </header>
        <main>
            <!-- Go Back 버튼 -->
            <div>
                <a href="donateNft">
                    <div class="backButton">
                        <i class="fas fa-paint-brush fa-lg"
                            ><span>Go Back</span>
                        </i>
                    </div>
                </a>
            </div>
            <!-- NFT, 아티스트 정보 들어간 총 border -->
            <div class="row">
                <!-- NFT 상세 부분 -->
                <div class="left">
                    <!-- NFT Card 이미지 -->
                    <div class="artInfo__cardImg"></div>

                    <!-- NFT Card 제목, 아티스트 이름, NFT 넘버 -->
                    <div class="artInfo__textBox">
                        <div class="artInfo__top">
                            <div class="artInfo__title">
                                <h2 class="nftText__title">Pastel</h2>
                                <h3 class="nftText__number">#123456678</h3>
                                <h6 class="nftText__artist">
                                    Created by heekyung
                                </h6>
                            </div>
                            <div class="artInfo__price">
                                <span class="nftText__price"
                                    ><i class="fab fa-ethereum fa-sm"></i
                                    >5</span
                                >
                            </div>
                        </div>
                        <div class="artInfo__description">
                            <h5>작품 설명</h5>
                            <p class="nftText__description">
                                "파스텔 color가 좋아"
                            </p>
                        </div>
                        <div class="artInfo__btn">
                            <button
                                class="nftText__btn"
                                onclick="artInfo__donateBtn()"
                            >
                                Donate
                            </button>
                        </div>
                    </div>
                </div>

                <!--오른쪽 부분_아티스트-->
                <div class="right">
                    <div class="artistProfile">
                        <div class="artistProfile__imgs">
                            <img
                                class="artistProfile__img"
                                src="img/artist.jpg"
                                alt=""
                            />
                            <span class="artist__nftListTitle"></span>
                            아티스트가 발행한 NFT</span
                        >
                        </div>
                        <!--오른쪽 부분 아티스트가 발행한 NFT card -->
                       
                      </div>
                      <span class="artist__nftList"></span>

                    <div id="box">
                        <div class="card">
                            <div class="thumb"></div>
                            <div class="infos">
                                <h2 class="title">블루,핑크그녀</h2>
                                <h3 class="composition">
                                    <span class="color"></span>
                                </h3>
                                <h3 class="type">2021.09.24</h3>
                                <h4 class="price"></h4>
                                <h4 class="code"></h4>
                                <p class="txt">
                                    핑크를 사랑한 그녀는,<br />
                                    오늘도 저 먼 곳<br />
                                    어딘가를 바라봅니다 <br />
                                    그곳은
                                    바로...바로...바로...바로...바로...바로...바로...
                                </p>
                                <a href="#"
                                    ><h3 class="details">view details</h3></a
                                >
                            </div>
                        </div>
                        <div class="card">
                            <div class="thumb2"></div>
                            <div class="infos">
                                <h2 class="title">사랑을담은,하트</h2>
                                <h3 class="composition">
                                    <span class="color"></span>
                                </h3>
                                <h3 class="type">2021.09.23</h3>
                                <h4 class="price"></h4>
                                <h4 class="code"></h4>
                                <p class="txt">
                                    핑크하우스,<br />
                                    오래전부터 그리워하던<br />
                                    나의 끝은<br />
                                    이곳에서...곳에서...곳에서...곳에서...곳에서...곳에서...
                                </p>
                                <a href="#"
                                    ><h3 class="details">view details</h3></a
                                >
                            </div>
                        </div>
                    </div>
                    <!-- <div
                        class="miniboxNft"
                        style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        "
                    >
                        <div sytle="background-color:blue; position: relative;">
                            <div
                                class="miniboxNft"
                                style="
                                    background-color: tomato;
                                    width: 150px;
                                    height: 200px;
                                    margin: 25px;
                                    border-radius: 10px;
                                "
                            >
                                dfdf
                            </div>
                            <div
                                class="miniboxNft"
                                style="
                                    background: linear-gradient(
                                        357deg,
                                        rgba(34, 117, 195, 1) 12%,
                                        rgba(45, 253, 204, 1) 87%
                                    );
                                    width: 150px;
                                    height: 100px;
                                    margin: 25px;
                                    border-radius: 0px 0px 10px 10px;
                                "
                            ></div>
                        </div>
                        <div
                            class="miniboxNft"
                            style="
                                background-color: blueviolet;
                                width: 150px;
                                height: 200px;
                                border-radius: 10px;
                            "
                        >
                            dfdf
                        </div>
                    </div> -->

                    <!-- <article id="article1" onclick="NFTs()">
                      <img class="nftImgs" src="/images/art\NFT5.jpg" }="">
                      <div class="text">
                        <h3 class="nftText nftText__title" id="nftName">hello_art</h3>
                        <h3 class="nftText nftText__price" id="nftPrice">500</h3>
                        <p class="nftText__description" id="nftDescribe">
                        null
                        </p>
                      </div>
                        <div class="container__profile">
                          <img class="artist__img" src="/images/profile/4.jpg">
                          <div class="container__profile__text">
                           <p class="nftText nftText__id" id="nftCreatedBy">Created By test</p>
                           <h2 class="nftText nftText__date" id="nftDate">2021-09-21T09:38:36.000Z</h2>
                          </div>
                      </div>
                     </article> -->

                    <div class="artist__nftCardsList"></div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__menu">
                <!-- 플랫폼 로고 이미지 -->
                <ul class="footer__brandLogo">
                    <li class="footer__li">로고 이미지 넣기</li>
                </ul>
                <!-- 플랫폼 대표 전화, 주소, 이메일 입력 -->
                <ul class="footer__info">
                    <li class="footer__li">상담센터 번호</li>
                    <li class="footer__li">대표전화</li>
                    <li class="footer__li">주소</li>
                    <li class="footer__li">Email</li>
                </ul>
                <!-- 플랫폼 스폰서 기업 로고 -->
                <ul class="footer__sponsor">
                    <h5 class="footer__sponsorTitle">Sponsor</h5>
                    <li class="footer__li">sponsor해주는곳 로고 넣기</li>
                </ul>
            </div>
            <!-- 플랫폼 copyrights 텍스트 -->
            <div class="footer__copy">
                <div class="footer__copyrights">
                    @ 서비스명. All Rights Reserved.
                </div>
            </div>
        </footer>
        <!-- import scripts  -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script
            src="https://kit.fontawesome.com/6478f529f2.js"
            crossorigin="anonymous"
        ></script>
        <script src="js/home/artInfo.js"></script>
    </body>
</html>
