<!DOCTYPE html>
<html class="autoHeight" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="img/DONATE.ico" />
    <link rel="stylesheet" href="css/styles1.css" />
    <title>My Account-Aritst</title>
  </head>
  <body class="home">
    <!-- 상단 nav bar -->
    <header class="nav">
      <!-- 서비스명 및 로고  -->
      <!-- 서비스명과 로고 클릭 시 메인 페이지로 이동 -->
      <a class="nav__link" href="/">
        <img src="../img/DONATE.ico" />
        <span>AmaDo</span>
      </a>
      <!-- nav bar 메뉴들 -->
      <ul class="nav__menu">
        <!-- nav bar "HOME" 메뉴 버튼 -->
        <!-- "Home" 클릭 시 메인 페이지로 이동 -->
        <li class="nav__item">
          <a class="nav__link" href="/">Home</a>
        </li>
        <!-- 모든 NFT 리스트 -->
        <li class="nav__item">
          <a class="nav__link" href="/donateNft">All NFTs</a>
        </li>
        <!-- nav bar "Gallery" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link glow" href="/gallery">Gallery</a>
        </li>
        <!-- nav bar "Create NFT" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link" href="/createNft">Create NFT</a>
        </li>
        <!-- nav bar "Log in" 메뉴 버튼 -->
        <!-- Log in 클릭 시  메타마스크 연결-->
        <li class="nav__item">
          <a class="nav__link" href="/signUp">Log in</a>
        </li>
      </ul>
    </header>
    <!-- 메인 -->
    <main>
      <!-- Go Back 버튼 -->
      <div>
        <button onClick="history.go(-1)" class="backButton">
          <i class="fas fa-paint-brush fa-lg"><span>Go Back</span></i>
        </button>
      </div>
      <!-- 어카운트 네비 -->
      <div class="account__nav">
        <ul class="account__tap">
          <!-- nav bar "HOME" 메뉴 버튼 -->
          <!-- "Home" 클릭 시 메인 페이지로 이동 -->
          <li class="account__account">
            <a class="account__link artist__firstTap" href="/myAccountArtist"
              >My Account</a
            >
          </li>
          <!-- nav bar "Gallery" 메뉴 버튼 -->
          <li class="account__account">
            <a class="account__link artist__secondTap" href="/deployedNft"
              >발행한 NFT</a
            >
          </li>
        </ul>
      </div>
      <!-- 어카운트 인포 -->
      <div class="account__info">
        <div class="account__infoTitle">
          <div class="account__infoImg"><img src="" alt="" /></div>
          <div class="account__allInfo"></div>
          <div class="account__simleInfo"></div>
          <div class="account__infoName">Jone Doe</div>
          <div class="account__infoGroup">아티스트</div>
          <div class="account__moreInfo"></div>
          <div class="account__infoMail">jone@amado.net</div>
        </div>
        <div class="account__infoBody">
          <div class="walletAddress">Wallet Address:</div>
          <div class="editPersonalInfo__btn">
            <button>개인정보 수정</button>
          </div>
        </div>
      </div>
      <!-- 어카운트 카운츠..? -->
      <div class="account__counts">
        <div class="count">
          발행한 NFT
          <!-- <div>데이터 넣기</div> -->
        </div>
        <div class="count">
          판매된 NFT
          <!-- <div>데이터 넣기</div> -->
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer class="footer">
      <div class="footer__div">
        <div class="footer__menu">
          <!-- 플랫폼 로고 이미지 -->
          <ul class="footer__brandLogo">
            <li class="footer__li">
              <span>AmaDo</span>
            </li>
          </ul>
          <!-- 플랫폼 대표 전화, 주소, 이메일 입력 -->
          <ul class="footer__info">
            <li class="footer__li">상담센터 <span>070-123-4567</span></li>
            <li class="footer__li">대표전화 <span>02-123-4567</span></li>
            <li class="footer__li">
              주소
              <span>서울특별시 영등포구 양산로 53 월드메르디앙 비즈센터</span>
            </li>
            <li class="footer__li">Email <span>ssjd6111@amado.com</span></li>
          </ul>
          <!-- sns 로고 -->
          <ul class="footer__sns">
            <li class="footer__li">
              <span><i class="fab fa-twitter fa-2x"></i> </span
              ><span><i class="fab fa-instagram fa-2x"></i></span>
              <span><i class="fab fa-facebook-square fa-2x"></i></span>
              <span><i class="fab fa-youtube fa-2x"></i></span>
            </li>
          </ul>
        </div>
        <!-- 플랫폼 copyrights 텍스트 -->

        <div class="footer__copy">
          <div class="footer__copyrights">@ AmaDo. All Rights Reserved.</div>
        </div>
      </div>
    </footer>
    <!-- javascript libraries -->
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
