<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="img/DONATE.ico" />
        <link rel="stylesheet" href="css/styles1.css" />
        <title>My Account-Aritst</title>
    </head>
    <body>
        <!-- 헤더 -->
        <header class="nav">
            <!-- 서비스명 및 로고  -->
            <!-- 서비스명과 로고 클릭 시 메인 페이지로 이동 -->
            <a class="nav__link" href="/"><h1>Service Name</h1></a>
            <!-- nav bar 메뉴들 -->
            <ul class="nav__menu">
                <!-- nav bar "HOME" 메뉴 버튼 -->
                <!-- "Home" 클릭 시 메인 페이지로 이동 -->
                <li class="nav__item">
                    <a class="nav__link" href="/">Home</a>
                </li>
                <!-- nav bar "Gallery" 메뉴 버튼 -->
                <li class="nav__item">
                    <a class="nav__link" href="gallery">Gallery</a>
                </li>
                <!-- nav bar "Create NFT" 메뉴 버튼 -->
                <li class="nav__item">
                    <a class="nav__link" href="createNft">Create NFT</a>
                </li>
                <!-- nav bar "Log in" 메뉴 버튼 -->
                <!-- Log in 클릭 시  메타마스크 연결-->
                <li class="nav__item">
                    <a class="nav__link" href="login">Log in</a>
                </li>
            </ul>
        </header>
        <!-- 메인 -->
        <main>
            <!-- go home 버튼 -->
            <div>
                <a href="/"
                    ><div class="backButton">
                        <i class="fas fa-paint-brush fa-lg"
                            ><span>Go Back</span></i
                        >
                    </div></a
                >
            </div>
            <!-- 어카운트 네비 -->
            <div class="account__nav">
                <ul class="account__tap">
                    <!-- nav bar "HOME" 메뉴 버튼 -->
                    <!-- "Home" 클릭 시 메인 페이지로 이동 -->
                    <li class="account__account">
                        <a class="account__link artist__firstTap" href="#"
                            >My Account</a
                        >
                    </li>
                    <!-- nav bar "Gallery" 메뉴 버튼 -->
                    <li class="account__account">
                        <a class="account__link artist__secondTap" href="#"
                            >발행한 NFT</a
                        >
                    </li>
                </ul>
            </div>
            <!-- 어카운트 인포 -->
            <div class="account__info">
                <div class="account__infoTitle">
                    <div class="account__infoImg"><img src="" alt="" /></div>
                    <div class="account__allInfo"></div>
                    <div class="account__simleInfo"></div>
                    <div class="account__infoName">Jone Doe</div>
                    <div class="account__infoGroup">아티스트</div>
                    <div class="account__moreInfo"></div>
                    <div class="account__infoMail">jone@amado.net</div>
                </div>
                <div class="account__infoBody">
                    <div class="walletAddress">Wallet Address:</div>
                    <div class="editPersonalInfo__btn">
                        <button>개인정보 수정</button>
                    </div>
                </div>
            </div>
            <!-- 어카운트 카운츠..? -->
            <div class="account__counts">
                <div class="count">
                    발행한 NFT
                    <!-- <div>데이터 넣기</div> -->
                </div>
                <div class="count">
                    판매된 NFT
                    <!-- <div>데이터 넣기</div> -->
                </div>
            </div>
        </main>

        <!-- javascript libraries -->
        <script
            src="https://kit.fontawesome.com/6478f529f2.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
