/* .wall-grid-items {
    display: grid;
    gap: 50px;
    position: absolute;
    justify-items: center;
    grid-template-columns: repeat(8, 4fr);

    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
} */
.wall-grid-items {
    padding-top: 250px;
    display: grid;
    /*가운데정렬*/
    place-items: center;
    grid-template-columns: repeat(8, 1fr);

    /*1개의 행이 만들어졌다.*/
    grid-template-rows: repeat(1, 1fr);
    /*다음으로 넘어가는 행에 크기를 설정해줄 수 있다. */
    gap: 1600px;
}

.grid-item-con {
    display: flex;
}

.grid-item {
    width: 500px;
    height: 300px;
    border: 8px solid rgb(18, 0, 120);
    background: palegreen;
}

/*각 아이템마다 정의된부부분 시작*/
.item1 {
    background-image: url("/client/img/sky_test.jpg");
    background-size: cover;
}

.button1 {
    /* background-image: url("../../image/squer.jpg"); */
}

/*각 아이템마다 정의된부부분 끝*/

.item-button-left {
    width: 50px;
    height: 50px;
    margin-top: 230px;
    margin-left: 30px;
}

.item-button-right {
    width: 50px;
    height: 50px;
    margin-top: 230px;
    margin-right: 30px;
}

canvas {
    background: #eee;
}
video {
    position: absolute;
    width: 0;
    height: 0;
}
