/* 하단 footer css */
/* 모든 페이지 적용 */

/* footer 하단에 상시 고정 */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  margin-top: 80px;
  background-color: var(--yellow);
}

/* 하단 footer */
.footer__menu {
  display: flex;
  margin: 0px 40px;
  justify-content: space-between;
  align-items: center;
}

/* 하단 footer 텍스트 flex 적용 (가로 정렬) */
.footer__brandLogo {
  display: flex;
}

/* 하단 footer 텍스트 */
.footer__li {
  color: black;
  padding: 7px 0px;
  font-size: 13px;
}

/* 하단 footer Sponsor title 텍스트 */
.footer__sponsorTitle {
  color: black;
  font-size: 20px;
}

/* 하단 footer copyrights */
.footer__copyrights {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 12px;
  padding: 5px 0px;
}
