/* 하단 footer css */
/* 모든 페이지 적용 */

/* footer 하단에 상시 고정 */
.footer__div {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: var(--yellow);
    align-items: center;
    z-index: 9999;
}

/* 하단 footer */
.footer__menu {
    display: flex;
    margin: 0px 40px;
    justify-content: space-between;
    align-items: center;
}

/* 하단 footer 텍스트 flex 적용 (가로 정렬) */
.footer__brandLogo {
    display: flex;
    align-items: center;
}

/* 로고와 서비스명 가운데 정렬 */
.footer__brandLogo .footer__li {
    display: flex;
    align-items: center;
}

/* 로고 이미지 */
.footer__brandLogo img {
    width: 60px;
    height: 60px;
}

/* 서비스명 */
.footer__brandLogo span {
    font-size: 60px;
    opacity: 0.6;
}

/* 회사 정보 */
.footer__info li {
    margin: 4px 7px;
    font-weight: 15px;
    opacity: 0.8;
}

/* 하단 footer 텍스트 */
.footer__info .footer__li {
    color: black;
    padding: 7px 0px;
    font-size: 13px;
}

/* 회사 정보 제목과 내용 간 간격 */
.footer__info span {
    padding: 0 7px;
}

/* 회사 정보 제목과 내용 간 간격 */
.footer__info span {
    padding: 0 7px;
}

/* 하단 footer Sponsor title 텍스트 */
.footer__sponsorTitle {
    color: black;
    font-size: 20px;
}

/* 하단 footer copyrights */
.footer__copyrights {
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 12px;
    padding: 5px 10px;
}

/* 이모티콘 (트위터, 인스타, 페북, youtube) */
.footer__sns span {
    padding: 0 7px;
    opacity: 0.6;
}
