<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../../img/DONATE.ico" />
    <link rel="stylesheet" href="../../css/styles1.css" />
    <title>Deployed NFT</title>

  </head>
  <body>
    <!-- 상단 nav bar-->
    <header class="nav">
      <!-- 서비스명 및 로고  -->
      <!-- 서비스명과 로고 클릭 시 메인 페이지로 이동 -->
      <a class="nav__linkkk" href="index "><h1>Service Name</h1></a>
      <!-- nav bar 메뉴들 -->
      <ul class="nav__menu">
        <!-- nav bar "HOME" 메뉴 버튼 -->
        <!-- "Home" 클릭 시 메인 페이지로 이동 -->
        <li class="nav__item">
          <a class="nav__link" href="index">Home</a>
        </li>
         <!-- 모든 NFT 리스트 -->
         <li class="nav__item">
          <a class="nav__link" href="donateNFT">All NFTs</a>
        </li>
        <!-- nav bar "Gallery" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link" href="gallery">Gallery</a>
        </li>
        <!-- nav bar "Create NFT" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link" href="createNFT">Create NFT</a>
        </li>
        <!-- nav bar "Log in" 메뉴 버튼 -->
        <!-- Log in 클릭 시  메타마스크 연결-->
        <li class="nav__item">
          <a class="nav__link" href="signUp">Log in</a>
        </li>
      </ul>
    </header>
    <main>
      <!-- Go Back 버튼 -->
      <div>
        <a href="myAccountArtist"
          ><div class="backButton">
            <i class="fas fa-paint-brush fa-lg"><span>Go Back</span></i>
          </div></a
        >
      </div>
      <div class="account__nav">
        <ul class="account__tap">
            <!-- nav bar "HOME" 메뉴 버튼 -->
            <!-- "Home" 클릭 시 메인 페이지로 이동 -->
            <li class="account__account">
              <a class="account__link artist__firstTap" href="#">My Account</a>
            </li>
            <!-- nav bar "Gallery" 메뉴 버튼 -->
            <li class="account__account">
              <a class="account__link artist__secondTap" href="#">발행한 NFT</a>
            </li>
      </div>
      <div class="accountNft">
          <div class="accountNft__name">Jone Doe</div>
          <div class="accountNft__address">0x1e42f24</div>
      </div>
      <div class="account__nftList">
        <span class="account__nftListTitle">발행한 NFT</span>
      </div>
      <div class="account__nftCardsList">
        <!-- <ul class="account__ownedNftList">
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="img/NFT14.jpg" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
        </ul>
        <ul class="account__ownedNftList">
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
        </ul>
        <ul class="account__ownedNftList">
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
        </ul>
        <ul class="account__ownedNftList">
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
          <li class="account__ownedNftRow">
            <img class="account__ownedNft" src="" />
            <div class="account__top">
              <div class="account__title">
                <h2 class="account__nftTitle">고래</h2>
                <h3 class="account__number">#123456678</h3>
                <h6 class="account__artist">Created by Jane Doe</h6>
              </div>
              <div class="account__price">
                <span class="account__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </li>
        </ul> -->
      </div>
    </main>

    <footer class="footer">
      <div class="footer__menu">
        <!-- 플랫폼 로고 이미지 -->
        <ul class="footer__brandLogo">
          <li class="footer__li">로고 이미지 넣기</li>
        </ul>
        <!-- 플랫폼 대표 전화, 주소, 이메일 입력 -->
        <ul class="footer__info">
          <li class="footer__li">상담센터 번호</li>
          <li class="footer__li">대표전화</li>
          <li class="footer__li">주소</li>
          <li class="footer__li">Email</li>
        </ul>
        <!-- 플랫폼 스폰서 기업 로고 -->
        <ul class="footer__sponsor">
          <h5 class="footer__sponsorTitle">Sponsor</h5>
          <li class="footer__li">sponsor해주는곳 로고 넣기</li>
        </ul>
      </div>
      <!-- 플랫폼 copyrights 텍스트 -->
      <div class="footer__copy">
        <div class="footer__copyrights">@ 서비스명. All Rights Reserved.</div>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
<script src=js/deplyedNft.js></script>
  </body>
</html>
