.createNFT {
  display: grid;
  grid-template-areas:
    "header header header"
    "card card card"
    "card card card"
    "card card card";
  grid-template-rows: auto;
  grid-template-columns: auto;
  /* grid-row: auto;
  grid-column: auto; */
  height: 100vh;
  margin: 0;
}

.donateNFT {
  display: grid;
}

.donatePlatform,
.donateNFT {
  padding: 1.2em;
}

.donatePlatform {
  grid-area: header;
}

.donateNFT {
  grid-area: main;
  align-items: center;
}

.donateNFT > article {
  border: 1px solid var(--yellow);
  box-shadow: 2px 2px 6px 0px #d2a501;
}

.donateNFT > article img {
  max-width: 30%;
}

.nft__details {
  padding: 10px 10px;
}
