/* NFT list screen */

/* donatePlatform */
.donatePlatform {
  border: 1px solid #ffe170;
  background-color: #ffe170;
  border-radius: 10px;
  width: 950px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}

/* donatePlatform box 안에 들은 Donate 텍스트 */
.donatePlatform__title {
  font-size: 65px;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 88px;
}

/* donatePlatform box 안에 들은 "누구나 쉽고~" 텍스트 */
.donatePlatform__body span {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  flex-direction: column;
  text-align: center;
  margin-top: 0px;
}

/* donatePlatform box 안에 들은 파레트 아이콘 */
.donatePlatform__icon {
  display: flex;
  font-size: 50px;
  padding: 20px;
}

/* NFT 작품 리스트 텍스트 */
.nftList__title {
  font-size: 25px;
  font-weight: bold;
  margin: 100px;
}

.nftcardList {
  display: flex;
}

.nft__money {
  text-align: right;
}

img {
  border-radius: 5px 5px 0 0;
  width: 250px;
  height: 300px;
}

.nftList {
  border: 1px solid var(--yellow);
  box-shadow: 0 4px 8px 0 #d2a501;
  transition: 0.3s;
  border-radius: 5px;
  margin: 35px;
  width: 250px;
  height: 300px;
}

.nftList:hover,
.container:hover {
  box-shadow: 0 8px 16px 0 #fd6588;
}

.nft__title {
  font-weight: 100px;
}

.container {
  padding: 2px 16px;
  margin: 30px;
  margin-top: 3px;
  width: 250px;
  height: 300px;
}
