<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="img/DONATE.ico" />
    <link rel="stylesheet" href="css/styles1.css" />
    <title>Payment-Giver</title>
  </head>
  <body class="home">
    <!-- 상단 nav bar -->
    <header class="nav">
      <!-- 서비스명 및 로고  -->
      <!-- 서비스명과 로고 클릭 시 메인 페이지로 이동 -->
      <a class="nav__link" href="/">
        <img src="../img/DONATE.ico" />
        <span>AmaDo</span>
      </a>
      <!-- nav bar 메뉴들 -->
      <ul class="nav__menu">
        <!-- nav bar "HOME" 메뉴 버튼 -->
        <!-- "Home" 클릭 시 메인 페이지로 이동 -->
        <li class="nav__item">
          <a class="nav__link" href="/">Home</a>
        </li>
        <!-- 모든 NFT 리스트 -->
        <li class="nav__item">
          <a class="nav__link" href="/donateNft">All NFTs</a>
        </li>
        <!-- nav bar "Gallery" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link" href="/gallery">Gallery</a>
        </li>
        <!-- nav bar "Create NFT" 메뉴 버튼 -->
        <li class="nav__item">
          <a class="nav__link" href="/createNft">Create NFT</a>
        </li>
        <!-- nav bar "Log in" 메뉴 버튼 -->
        <!-- Log in 클릭 시  메타마스크 연결-->
        <li class="nav__item">
          <a class="nav__link" href="/signUp">Log in</a>
        </li>
      </ul>
    </header>
    <main>
      <!-- Go Back 버튼 -->
      <div>
        <button onClick="history.go(-1)" class="backButton">
          <i class="fas fa-paint-brush fa-lg"><span>Go Back</span></i>
        </button>
      </div>
      <!-- NFT, 아티스트 정보 들어간 총 border -->
      <div class="row">
        <!-- NFT 상세 부분 -->
        <div class="left">
          <!-- NFT Card 이미지 -->
          <div class="artInfo__cardImg">
            <img class="artInfo__img" src="img/NFT13.jpg" />
          </div>
          <!-- NFT Card 제목, 아티스트 이름, NFT 넘버 -->
          <div class="artInfo__textBox">
            <div class="artInfo__top">
              <div class="artInfo__title">
                <h2 class="nftText__title">Breakfast</h2>
                <h3 class="nftText__number">#1233664</h3>
                <h6 class="nftText__artist">Created by Jane Doe</h6>
              </div>
              <div class="artInfo__price">
                <span class="nftText__price"
                  ><i class="fab fa-ethereum fa-sm"></i>5</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 오른쪽 부분 -->
        <div class="right">
          <form>
            <div class="payment__donate">
              <div class="payment__form">
                <label
                  >Gas Fee
                  <i class="fab fa-ethereum fa-lg"></i>
                  <div class="payment__Input">
                    <!-- step=any는 소숫점 자리도 입력할 수 있게 해준다. -->
                    <input
                      id="number"
                      type="number"
                      placeholder="가스비를 입력해 주세요."
                      step="any"
                      required
                    />
                  </div>
                </label>
              </div>
              <!-- Donate 버튼 -->
              <div class="payment__formBtn">
                <input class="payment__Btn" type="submit" value="Donate" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="footer__div">
        <div class="footer__menu">
          <!-- 플랫폼 로고 이미지 -->
          <ul class="footer__brandLogo">
            <li class="footer__li">
              <span>AmaDo</span>
            </li>
          </ul>
          <!-- 플랫폼 대표 전화, 주소, 이메일 입력 -->
          <ul class="footer__info">
            <li class="footer__li">상담센터 <span>070-123-4567</span></li>
            <li class="footer__li">대표전화 <span>02-123-4567</span></li>
            <li class="footer__li">
              주소
              <span>서울특별시 영등포구 양산로 53 월드메르디앙 비즈센터</span>
            </li>
            <li class="footer__li">Email <span>ssjd6111@amado.com</span></li>
          </ul>
          <!-- sns 로고 -->
          <ul class="footer__sns">
            <li class="footer__li">
              <span><i class="fab fa-twitter fa-2x"></i> </span
              ><span><i class="fab fa-instagram fa-2x"></i></span>
              <span><i class="fab fa-facebook-square fa-2x"></i></span>
              <span><i class="fab fa-youtube fa-2x"></i></span>
            </li>
          </ul>
        </div>
        <!-- 플랫폼 copyrights 텍스트 -->

        <div class="footer__copy">
          <div class="footer__copyrights">@ AmaDo. All Rights Reserved.</div>
        </div>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
